/* Poster component */
.poster {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 10px;
}

span {
  font-size: 16px;
}

/* GuessInput component */
.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/* Details component */
body {
  margin: 0;
  padding: 0;
  background-color: beige;
}

.contentContainer {
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.posterDetails {
  width: 300px;
  height: auto;
  float: left;
  margin-right: 20px;
}

.containerInfos {
  width: calc(100% - 340px);
  height: auto;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

.imgContainer {
  width: 200px;
  height: 300px;
}

.cast {
  text-align: center;
}

.castContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.castItem {
  text-align: center;
  margin: 10px;
}
